  @keyframes imagesmoveleft {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-300%, 0);
    }
  }
  @keyframes midopacity {
    0% {
      opacity: 0;
    
    }
    100% {
      opacity: 1;
      
    }
  }

  #images{
    width: 11.5%;
    height: 100vh;
    position: relative;
    z-index: 1;
  }
  .leftimage{
    animation: midopacity 2.5s ease-in-out forwards,
               imagesmoveleft 2s ease-in-out 2s forwards;
  }
  .midimage{
    animation: midopacity 1s ease-in-out forwards,
              imagesmoveleft 2s ease-in-out 2s forwards;
  }
  .rightimage{
    animation: midopacity 2.5s ease-in-out forwards,
              imagesmoveleft 2s ease-in-out 2s forwards;
  } 
  @media screen and (max-width: 880px) {
  
    @keyframes imagesmoveleft {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-300%, 0);
      }
    }
    @keyframes midopacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    #images{
      width: 100px;
      height: 100vh;
      position: relative;
      z-index: 1;
      right: 7px;
    }
    .leftimage{
      animation: midopacity 2.5s ease-in-out forwards,
                 imagesmoveleft 2s ease-in-out 2s forwards;
    }
    .midimage{
      animation: midopacity 1s ease-in-out forwards,
                imagesmoveleft 2s ease-in-out 2s forwards;
    }
    .rightimage{
      animation: midopacity 2.5s ease-in-out forwards,
                imagesmoveleft 2s ease-in-out 2s forwards;
    } 
  }